#ContactMe{
    background-color: white;
    height: 110%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    h1{
        flex-basis: 100%;
        margin: 0%;
        text-align: center;
        color: rgb(7, 7, 7);
        margin-top: 40px;
    }
    form{
        height: 60%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        input{
            height: 20px;
            flex-basis: 90%;
            margin-bottom: 10px;
            border: none;
            border-bottom: 1px solid black ;
        }
        textarea{
            flex-basis: 90%;
            height: 40px;
            border: none;
            border-bottom: 1px solid black ;
        }
        .Btn{
            margin-top: 20px;
            flex-basis: 10%;
            border: 1px solid rgb(7, 7, 7);
            background-color: white;
            height: 30px;
        }
    }
    h2{
        flex-basis: 100%;
        text-align: center;
    }
    .Sent{
        color: rgb(25, 204, 25);
    }
    .Error{
        color: rgb(255, 38, 38);
    }
}